<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BINSE - Stats</title>
</head>
<body>

<div><b> Stock Code: </b> {{CODE}}</div>
<div><b> Average High Price: </b> {{AVG-HIGH-PRICE}}</div>
<div><b> Average Low Price: </b> {{AVG-LOW-PRICE}}</div>
<div><b> Average Open Price: </b> {{AVG-OPEN-PRICE}}</div>
<div><b> Average Close Price: </b> {{AVG-CLOSE-PRICE}}</div>
<div><b> Average Last Traded Price: </b> {{AVG-LAST-TRADED-PRICE}}</div>
<div><b> Average Turonover (in lakhs): </b> {{AVG-TURNOVER}}</div>
<div><b> Average Total Traded Quantity: </b> {{AVG-TOTAL-TRADED-QUANTITY}}</div>
	
</body>
</html>
