Stock Code: {{CODE}}
Average High Price: {{AVG-HIGH-PRICE}}
Average Low Price: {{AVG_LOW_PRICE}}
Average Open Price: {{AVG-OPEN-PRICE}}
Average Close Price: {{AVG-CLOSE-PRICE}}
Average Last Traded Price: {{AVG-LAST-TRADED-PRICE}}
Average Turonover (in lakhs): {{AVG-TURNOVER}}
Average Total Traded Quantity: {{AVG-TOTAL-TRADED-QUANTITY}}
